<script>
//  section sort starts here 
  $(function() {
      $('.sections').sortable({
        update: function( event, ui ) {
          console.log(ui.item.data('update-url'))
          $.ajax({
            type: 'PUT',
            url: ui.item.data('update-url'),
            dataType: 'json',
            data: { section: { row_order_position: ui.item.index() } }
          });
        }
      });
    });

// lesson sort starts here
  $(function() {
    $('.new-lesson-button').click(function( event ) {
      var lessonUrl = $( event.target).data('lesson-url');
      $('#newLessonForm').attr('action', lessonUrl);
    });
    
    $('.lessons').sortable({
      update: function( event, ui ) {
        $.ajax({
          type: 'PUT',
          url: ui.item.data('update-url'),
          dataType: 'json',
          data: { lesson: { row_order_position: ui.item.index() } }
        });
      }
    });
  });
</script>

<br />
<div class="booyah-box col-10 offset-1">
  <h1 class="text-center"><%= current_course.title %></h1>
  <%= image_tag @current_course.image.to_s, class: 'img-fluid' %>
  <br />
  <%= link_to 'Preview As Student...', course_path(current_course), class: 'btn btn-warning float-right' %>
  <br class="clr" />

<div class="text-center">
  <!-- Button section trigger modal -->
  <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#newSectionModal">
    Add a new section...
  </button>
</div>

    <ul class="sections">
      <% current_course.sections.rank(:row_order).each do |section| %>
        <li data-update-url="<%= instructor_section_path(section) %>" class="section-li">
          <div class="row">
            <div class="col-1">
              <span class="fa fa-ellipsis-v"></span>
            </div>
              <div class="col-11">
                <%= section.title %>
              </div>
          </div>

         
   
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#newLessonModal">
      New Lesson...
    </button>

        <br class="clr" />
        <br class="clr" />
    
          <ul class="lessons">
            <% section.lessons.rank(:row_order).each do |lesson| %>
              <li data-update-url="<%= instructor_lesson_path(lesson) %>">
                <div class="row">
                  <div class="col-1">
                  <br />
                    <span class="fa fa-ellipsis-v"></span>
                  </div>
                  <div class="col-11">
                  <div class="col-11 text-center">
                    <p>
                      <b><%= lesson.title %></b>
                    </p>
                    <p>
                      <%= lesson.subtitle %>
                    </p>
                  </div>
                </div>
                <br class="clr" />
              </li>
            <% end %>
          </ul>
      <% end %>
        </li>
      </ul>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="newSectionModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title" id="newSectionModalLabel">Add a new section</h4>
      </div>
      <%= simple_form_for @section, url: instructor_course_sections_path(current_course) do |f| %>
        <div class="modal-body">
          <%= f.input :title %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <%= f.submit "Add a section", class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="newLessonModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="newLessonModalLabel">Add a new lesson</h4>
      </div>
      <form accept-charset="UTF-8" action="#" class="simple_form new_lesson" enctype="multipart/form-data" id="newLessonForm" method="post" novalidate="novalidate"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓" /><input name="authenticity_token" type="hidden" value="cWn+DdJbIjqZajnzD956Ox4jjPXsnn7178AzOldv0XI=" /></div>
          <div class="modal-body">
              <div class="input string optional lesson_title"><label class="string optional control-label" for="lesson_title">Title</label><input class="string optional form-control" id="lesson_title" name="lesson[title]" type="text" /></div>
              <div class="input string optional lesson_subtitle"><label class="string optional control-label" for="lesson_subtitle">Subtitle</label><input class="string optional form-control" id="lesson_subtitle" name="lesson[subtitle]" type="text" /></div>
              <div class="input file optional lesson_video"><label class="file optional control-label" for="lesson_video">Video</label><input class="file optional form-control" id="lesson_video" name="lesson[video]" type="file" /></div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <input class="btn btn-primary" name="commit" type="submit" value="Add the lesson" />
          </div>
      </form>
    </div>
  </div>
</div>